<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.lamport.tla.toolbox.tool.tlc.modelCheck">
    <stringAttribute key="TLCCmdLineParameters" value=""/>
    <intAttribute key="collectCoverage" value="0"/>
    <stringAttribute key="configurationName" value="mc_all"/>
    <booleanAttribute key="deferLiveness" value="false"/>
    <intAttribute key="dfidDepth" value="1500"/>
    <booleanAttribute key="dfidMode" value="false"/>
    <intAttribute key="distributedFPSetCount" value="0"/>
    <stringAttribute key="distributedNetworkInterface" value="192.168.0.185"/>
    <intAttribute key="distributedNodesCount" value="1"/>
    <stringAttribute key="distributedTLC" value="off"/>
    <stringAttribute key="distributedTLCVMArgs" value=""/>
    <intAttribute key="fpBits" value="1"/>
    <intAttribute key="fpIndex" value="128"/>
    <booleanAttribute key="fpIndexRandom" value="true"/>
    <intAttribute key="maxHeapSize" value="50"/>
    <intAttribute key="maxSetSize" value="1000000"/>
    <booleanAttribute key="mcMode" value="true"/>
    <stringAttribute key="modelBehaviorInit" value=""/>
    <stringAttribute key="modelBehaviorNext" value=""/>
    <stringAttribute key="modelBehaviorSpec" value="FairSpec"/>
    <intAttribute key="modelBehaviorSpecType" value="1"/>
    <stringAttribute key="modelBehaviorVars" value="ym1, X, cm1, cm2"/>
    <stringAttribute key="modelComments" value=""/>
    <booleanAttribute key="modelCorrectnessCheckDeadlock" value="true"/>
    <listAttribute key="modelCorrectnessInvariants">
        <listEntry value="1TypeInv"/>
    </listAttribute>
    <listAttribute key="modelCorrectnessProperties">
        <listEntry value="0Termination"/>
        <listEntry value="1Correctness"/>
    </listAttribute>
    <intAttribute key="modelEditorOpenTabs" value="14"/>
    <stringAttribute key="modelExpressionEval" value=""/>
    <stringAttribute key="modelParameterActionConstraint" value=""/>
    <listAttribute key="modelParameterConstants">
        <listEntry value="Undef;;Undef;1;0"/>
    </listAttribute>
    <stringAttribute key="modelParameterContraint" value=""/>
    <listAttribute key="modelParameterDefinitions">
        <listEntry value="IndexType1;;{0};0;0"/>
        <listEntry value="CtxIdType1;;{&lt;&lt;&gt;&gt;};0;0"/>
        <listEntry value="Nat;;0..N+1;0;0"/>
        <listEntry value="CtxIdType2;;{&lt;&lt;0,i&gt;&gt; : i \in 0..N};0;0"/>
        <listEntry value="IndexType2;;0..MaxC;0;0"/>
        <listEntry value="Input;;[n : Items,&#13;&#10; w : UNION {[1..n -&gt; Weights] : n \in 0..N},&#13;&#10; v : UNION {[1..n -&gt; Values] : n \in 0..N},&#13;&#10; C : Capacity ];0;0"/>
        <listEntry value="Row;;UNION {[1..n -&gt; Profits] : n \in 0..N+1};0;0"/>
        <listEntry value="VarCType2;;Profits;0;0"/>
        <listEntry value="VarRType1;;Profits;0;0"/>
        <listEntry value="Seq;S:;UNION {[1..n -&gt; S] : n \in Items};0;0"/>
        <listEntry value="IndexType1_1;;0..N+1;0;0"/>
        <listEntry value="CtxIdType1_1;;{&lt;&lt;0&gt;&gt;};0;0"/>
    </listAttribute>
    <stringAttribute key="modelParameterModelValues" value="{}"/>
    <stringAttribute key="modelParameterNewDefinitions" value="N == 2&#13;&#10;Items == 0..N&#13;&#10;NatMock2 == 0..N&#13;&#10;MaxW == 2&#13;&#10;MaxV == 2&#13;&#10;MaxC == 2&#13;&#10;Weights == 0..MaxW&#13;&#10;Values == 0..MaxV&#13;&#10;Capacity == 0..MaxC&#13;&#10;MaxProfit == N*MaxV&#13;&#10;Profits == 0..MaxProfit"/>
    <intAttribute key="modelVersion" value="20191005"/>
    <intAttribute key="numberOfWorkers" value="3"/>
    <booleanAttribute key="recover" value="false"/>
    <stringAttribute key="result.mail.address" value=""/>
    <intAttribute key="simuAril" value="-1"/>
    <intAttribute key="simuDepth" value="1500"/>
    <intAttribute key="simuSeed" value="-1"/>
    <stringAttribute key="specName" value="PCRKnapSack01_1"/>
    <stringAttribute key="tlcResourcesProfile" value="local custom"/>
    <listAttribute key="traceExploreExpressions"/>
    <stringAttribute key="view" value=""/>
    <booleanAttribute key="visualizeStateGraph" value="false"/>
</launchConfiguration>
