<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.lamport.tla.toolbox.tool.tlc.modelCheck">
    <stringAttribute key="configurationName" value="Model_1"/>
    <intAttribute key="distributedFPSetCount" value="0"/>
    <stringAttribute key="distributedNetworkInterface" value="192.168.0.185"/>
    <intAttribute key="distributedNodesCount" value="1"/>
    <stringAttribute key="distributedTLC" value="off"/>
    <intAttribute key="maxHeapSize" value="25"/>
    <stringAttribute key="modelBehaviorInit" value=""/>
    <stringAttribute key="modelBehaviorNext" value=""/>
    <stringAttribute key="modelBehaviorSpec" value=""/>
    <intAttribute key="modelBehaviorSpecType" value="2"/>
    <stringAttribute key="modelBehaviorVars" value="map"/>
    <stringAttribute key="modelComments" value=""/>
    <booleanAttribute key="modelCorrectnessCheckDeadlock" value="true"/>
    <listAttribute key="modelCorrectnessInvariants"/>
    <listAttribute key="modelCorrectnessProperties"/>
    <listAttribute key="modelParameterConstants">
        <listEntry value="VarRType;;;0;0"/>
        <listEntry value="VarCType;;;0;0"/>
        <listEntry value="IndexType;;;0;0"/>
        <listEntry value="CtxIdType;;;0;0"/>
        <listEntry value="InType;;;0;0"/>
        <listEntry value="VarPType;;;0;0"/>
        <listEntry value="upperBnd;:;;0;0"/>
        <listEntry value="lowerBnd;:;;0;0"/>
        <listEntry value="step;:;;0;0"/>
        <listEntry value="eCnd;:;;0;0"/>
    </listAttribute>
    <intAttribute key="modelVersion" value="20191005"/>
    <intAttribute key="numberOfWorkers" value="2"/>
    <stringAttribute key="result.mail.address" value=""/>
    <stringAttribute key="specName" value="PCRIterationSpace"/>
    <stringAttribute key="tlcResourcesProfile" value="local custom"/>
</launchConfiguration>
