<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.lamport.tla.toolbox.tool.tlc.modelCheck">
    <stringAttribute key="configurationName" value="test"/>
    <intAttribute key="distributedFPSetCount" value="0"/>
    <stringAttribute key="distributedNetworkInterface" value="192.168.0.185"/>
    <intAttribute key="distributedNodesCount" value="1"/>
    <stringAttribute key="distributedTLC" value="off"/>
    <intAttribute key="fpIndex" value="123"/>
    <intAttribute key="maxHeapSize" value="25"/>
    <stringAttribute key="modelBehaviorInit" value=""/>
    <stringAttribute key="modelBehaviorNext" value=""/>
    <stringAttribute key="modelBehaviorSpec" value="Spec"/>
    <intAttribute key="modelBehaviorSpecType" value="0"/>
    <stringAttribute key="modelBehaviorVars" value="X1, X2, X3, cm1, ym1"/>
    <stringAttribute key="modelComments" value=""/>
    <booleanAttribute key="modelCorrectnessCheckDeadlock" value="true"/>
    <listAttribute key="modelCorrectnessInvariants"/>
    <listAttribute key="modelCorrectnessProperties">
        <listEntry value="0Termination"/>
    </listAttribute>
    <intAttribute key="modelEditorOpenTabs" value="10"/>
    <stringAttribute key="modelExpressionEval" value="LET x1 == 3&#13;&#10;    x2 ==   (&lt;&lt;1, 1&gt;&gt; :&gt; 1 @@ &lt;&lt;1, 2&gt;&gt; :&gt; 1 @@ &lt;&lt;1, 3&gt;&gt; :&gt; 2 &#13;&#10;       @@ &lt;&lt;2, 1&gt;&gt; :&gt; 0 @@ &lt;&lt;2, 2&gt;&gt; :&gt; 2 @@ &lt;&lt;2, 3&gt;&gt; :&gt; 0&#13;&#10;       @@ &lt;&lt;3, 1&gt;&gt; :&gt; 2 @@ &lt;&lt;3, 2&gt;&gt; :&gt; 1 @@ &lt;&lt;3, 3&gt;&gt; :&gt; 0)&#13;&#10;    x3 == &lt;&lt;1,2,1&gt;&gt;&#13;&#10;IN Solution(x1, x2, x3)"/>
    <stringAttribute key="modelParameterActionConstraint" value=""/>
    <listAttribute key="modelParameterConstants">
        <listEntry value="Undef;;Undef;1;0"/>
    </listAttribute>
    <stringAttribute key="modelParameterContraint" value=""/>
    <listAttribute key="modelParameterDefinitions">
        <listEntry value="Nat;;0..4;0;0"/>
        <listEntry value="Seq;S:;UNION {[1..n -&gt; S] : n \in Nat};0;0"/>
    </listAttribute>
    <stringAttribute key="modelParameterModelValues" value="{}"/>
    <stringAttribute key="modelParameterNewDefinitions" value=""/>
    <intAttribute key="modelVersion" value="20191005"/>
    <intAttribute key="numberOfWorkers" value="2"/>
    <stringAttribute key="result.mail.address" value=""/>
    <stringAttribute key="specName" value="PCRMatrixVector"/>
    <stringAttribute key="tlcResourcesProfile" value="local custom"/>
</launchConfiguration>
