<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.lamport.tla.toolbox.tool.tlc.modelCheck">
    <stringAttribute key="TLCCmdLineParameters" value=""/>
    <stringAttribute key="alias" value=""/>
    <intAttribute key="collectCoverage" value="0"/>
    <stringAttribute key="configurationName" value="PCRListId"/>
    <booleanAttribute key="deferLiveness" value="false"/>
    <intAttribute key="dfidDepth" value="100"/>
    <booleanAttribute key="dfidMode" value="false"/>
    <intAttribute key="distributedFPSetCount" value="0"/>
    <stringAttribute key="distributedNetworkInterface" value="192.168.0.185"/>
    <intAttribute key="distributedNodesCount" value="1"/>
    <stringAttribute key="distributedTLC" value="off"/>
    <stringAttribute key="distributedTLCVMArgs" value=""/>
    <intAttribute key="fpBits" value="1"/>
    <intAttribute key="fpIndex" value="0"/>
    <booleanAttribute key="fpIndexRandom" value="true"/>
    <intAttribute key="maxHeapSize" value="25"/>
    <intAttribute key="maxSetSize" value="1000000"/>
    <booleanAttribute key="mcMode" value="true"/>
    <stringAttribute key="modelBehaviorInit" value=""/>
    <stringAttribute key="modelBehaviorNext" value=""/>
    <stringAttribute key="modelBehaviorSpec" value="FairSpec"/>
    <intAttribute key="modelBehaviorSpecType" value="1"/>
    <stringAttribute key="modelBehaviorVars" value="X, c, p, r, in, rs"/>
    <stringAttribute key="modelComments" value=""/>
    <booleanAttribute key="modelCorrectnessCheckDeadlock" value="true"/>
    <listAttribute key="modelCorrectnessInvariants">
        <listEntry value="1Inv"/>
    </listAttribute>
    <listAttribute key="modelCorrectnessProperties">
        <listEntry value="0Termination"/>
        <listEntry value="1Correctness"/>
        <listEntry value="0SemDC!Spec"/>
        <listEntry value="0SemDC!FairSpec"/>
    </listAttribute>
    <intAttribute key="modelEditorOpenTabs" value="14"/>
    <stringAttribute key="modelExpressionEval" value=""/>
    <stringAttribute key="modelParameterActionConstraint" value=""/>
    <listAttribute key="modelParameterConstants">
        <listEntry value="I0;;&lt;&lt;&gt;&gt;;0;0"/>
        <listEntry value="pre;x:;TRUE;0;0"/>
        <listEntry value="div;x:;LET mid == Len(x) \div 2&#13;&#10;IN  &lt;&lt; SubSeq(x, 1, mid),  SubSeq(x, mid+1, Len(x)) &gt;&gt;;0;0"/>
        <listEntry value="D;;VarRType;0;0"/>
        <listEntry value="T;;InType;0;0"/>
        <listEntry value="fr;x:vc:i:;vc[i];0;0"/>
        <listEntry value="Op;x:y:;x \o y;0;0"/>
        <listEntry value="isBase;x:vp:i:;Len(vp[i]) &lt;= 1;0;0"/>
        <listEntry value="base;x:vp:i:;vp[i];0;0"/>
        <listEntry value="Dep_cr;;&lt;&lt;{},{}&gt;&gt;;0;0"/>
        <listEntry value="id;;&lt;&lt;&gt;&gt;;0;0"/>
        <listEntry value="Dep_pc;;&lt;&lt;{},{}&gt;&gt;;0;0"/>
    </listAttribute>
    <stringAttribute key="modelParameterContraint" value=""/>
    <listAttribute key="modelParameterDefinitions">
        <listEntry value="Nat;;0..4;0;0"/>
        <listEntry value="Index;;UNION {[1..n -&gt; Assig] : n \in 0..2};0;0"/>
        <listEntry value="Assig;;1..2;0;0"/>
        <listEntry value="Undef;;Undef;1;0"/>
        <listEntry value="PCR_DC!Index;;Index;0;0"/>
        <listEntry value="PCR_DC!Assig;;Assig;0;0"/>
        <listEntry value="PCR_DC!Undef;;Undef;0;0"/>
    </listAttribute>
    <stringAttribute key="modelParameterModelValues" value="{}"/>
    <stringAttribute key="modelParameterNewDefinitions" value="Elem == 0..3&#13;&#10;InType == UNION {[1..n -&gt; Elem] : n \in 0..3}&#13;&#10;VarPType == InType&#13;&#10;VarCType == InType&#13;&#10;VarRType == InType"/>
    <intAttribute key="modelVersion" value="20191005"/>
    <intAttribute key="numberOfWorkers" value="2"/>
    <stringAttribute key="postCondition" value=""/>
    <booleanAttribute key="recover" value="false"/>
    <stringAttribute key="result.mail.address" value=""/>
    <intAttribute key="simuAril" value="-1"/>
    <intAttribute key="simuDepth" value="100"/>
    <stringAttribute key="simuNumTraces" value="9223372036854775807"/>
    <intAttribute key="simuSeed" value="-1"/>
    <stringAttribute key="specName" value="PCR_DCrLeft"/>
    <stringAttribute key="tlcResourcesProfile" value="local custom"/>
    <listAttribute key="traceExploreExpressions">
        <listEntry value="1WDIndex"/>
    </listAttribute>
    <stringAttribute key="view" value=""/>
    <booleanAttribute key="visualizeStateGraph" value="false"/>
</launchConfiguration>
