<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.lamport.tla.toolbox.tool.tlc.modelCheck">
    <stringAttribute key="TLCCmdLineParameters" value=""/>
    <stringAttribute key="alias" value=""/>
    <intAttribute key="collectCoverage" value="0"/>
    <stringAttribute key="configurationName" value="PCRCountWords1"/>
    <booleanAttribute key="deferLiveness" value="false"/>
    <intAttribute key="dfidDepth" value="100"/>
    <booleanAttribute key="dfidMode" value="false"/>
    <intAttribute key="distributedFPSetCount" value="0"/>
    <stringAttribute key="distributedNetworkInterface" value="192.168.0.185"/>
    <intAttribute key="distributedNodesCount" value="1"/>
    <stringAttribute key="distributedTLC" value="off"/>
    <stringAttribute key="distributedTLCVMArgs" value=""/>
    <intAttribute key="fpBits" value="1"/>
    <intAttribute key="fpIndex" value="65"/>
    <booleanAttribute key="fpIndexRandom" value="true"/>
    <intAttribute key="maxHeapSize" value="25"/>
    <intAttribute key="maxSetSize" value="1000000"/>
    <booleanAttribute key="mcMode" value="true"/>
    <stringAttribute key="modelBehaviorInit" value=""/>
    <stringAttribute key="modelBehaviorNext" value=""/>
    <stringAttribute key="modelBehaviorSpec" value="FairSpec"/>
    <intAttribute key="modelBehaviorSpecType" value="1"/>
    <stringAttribute key="modelBehaviorVars" value="red, In, X, c, p, out"/>
    <stringAttribute key="modelComments" value=""/>
    <booleanAttribute key="modelCorrectnessCheckDeadlock" value="true"/>
    <listAttribute key="modelCorrectnessInvariants">
        <listEntry value="0TypeInv"/>
        <listEntry value="1Inv"/>
    </listAttribute>
    <listAttribute key="modelCorrectnessProperties">
        <listEntry value="1Correctness"/>
        <listEntry value="1Termination"/>
    </listAttribute>
    <intAttribute key="modelEditorOpenTabs" value="14"/>
    <stringAttribute key="modelExpressionEval" value=""/>
    <stringAttribute key="modelParameterActionConstraint" value=""/>
    <listAttribute key="modelParameterConstants">
        <listEntry value="Dom;;VarRType;0;0"/>
        <listEntry value="Id;;EmptyBag;0;0"/>
        <listEntry value="\otimes;x:y:;x (+) y;0;0"/>
        <listEntry value="lBnd;x:;1;0;0"/>
        <listEntry value="uBnd;x:;Len(x[1]);0;0"/>
        <listEntry value="prop;i:;TRUE;0;0"/>
        <listEntry value="pre;x:;TRUE;0;0"/>
        <listEntry value="T0;;InType;0;0"/>
        <listEntry value="T1;;VarPType;0;0"/>
        <listEntry value="T2;;VarCType;0;0"/>
        <listEntry value="f1;x:i:;x[1][i];0;0"/>
        <listEntry value="Undef;;Undef;1;0"/>
        <listEntry value="f2;x:p_i:i:;LET ws == x[2]&#13;&#10;    l  == p_i &#13;&#10;    bs == [w \in DOMAIN ws |-&gt; count(l, ws[w])]                          &#13;&#10;IN SeqFoldR(bs, EmptyBag, LAMBDA a,b : a (+) b);0;0"/>
        <listEntry value="f3;x:c_i:i:;c_i;0;0"/>
        <listEntry value="I0;;&lt;&lt;&gt;&gt;;0;0"/>
    </listAttribute>
    <stringAttribute key="modelParameterContraint" value=""/>
    <listAttribute key="modelParameterDefinitions">
        <listEntry value="Nat;;NatMock2;0;0"/>
        <listEntry value="Index;;{I0};0;0"/>
    </listAttribute>
    <stringAttribute key="modelParameterModelValues" value="{}"/>
    <stringAttribute key="modelParameterNewDefinitions" value="NatMock1 == 0..2&#13;&#10;NatMock2 == 0..8&#13;&#10;Word == 0..1&#13;&#10;Bags(S) == UNION {[s -&gt; NatMock2\{0}] : s \in SUBSET S}&#13;&#10;LType == UNION {[1..k -&gt; Word] : k \in NatMock1}&#13;&#10;TType == UNION {[1..k -&gt; LType] : k \in NatMock1}&#13;&#10;WType == LType&#13;&#10;InType == TType \X WType&#13;&#10;VarPType == LType &#13;&#10;VarCType == Bags(Word) &#13;&#10;VarRType == Bags(Word)&#13;&#10;count(l, w) ==&#13;&#10;  IF   w \in Range(l) &#13;&#10;  THEN w :&gt; Cardinality({k \in DOMAIN l : l[k] = w})&#13;&#10;  ELSE EmptyBag"/>
    <intAttribute key="modelVersion" value="20191005"/>
    <intAttribute key="numberOfWorkers" value="2"/>
    <stringAttribute key="postCondition" value=""/>
    <booleanAttribute key="recover" value="false"/>
    <stringAttribute key="result.mail.address" value=""/>
    <intAttribute key="simuAril" value="-1"/>
    <intAttribute key="simuDepth" value="100"/>
    <stringAttribute key="simuNumTraces" value="9223372036854775807"/>
    <intAttribute key="simuSeed" value="-1"/>
    <stringAttribute key="specName" value="PCR_A1step"/>
    <stringAttribute key="tlcResourcesProfile" value="local custom"/>
    <listAttribute key="traceExploreExpressions">
        <listEntry value="0\A i \in iterator : red[i]"/>
        <listEntry value="0finished"/>
        <listEntry value="1UNCHANGED vars"/>
    </listAttribute>
    <stringAttribute key="view" value=""/>
    <booleanAttribute key="visualizeStateGraph" value="false"/>
</launchConfiguration>
